.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-deck .card {
  margin-bottom: 30px;
}

.card-text {
  /* white-space: nowrap; */
  display: -webkit-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  /* overflow: hidden; */
}

.form-row {
  padding: 5px;
}

img {
  height: 180px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

